{% extends 'base.html.twig' %}

{% block title %}
    Nos rayons
{% endblock %}

{% block body %}
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="main-div">
                <!-- debut du block body -->
                <!-- debut du block body -->
                <div class="card col-md-12">
                    <div class="card-header">
                        <h3>
                            <a class="btn-back text-secondary" href="{{ path('app_default_index') }}">
                                <i class="fas fa-x fa-arrow-circle-left"></i>
                            </a>
                            <i class="fas fa-store"></i>
                            {% trans %}boutique.index.titre{% endtrans %}
                            <span class="badge badge-pill badge-info">
                                {% if categories | length < 10 %}
                                    0{{ categories | length }}
                                {% else %}
                                    {{ categories | length }}
                                {% endif %}
                            </span>
                            {% trans %}boutique.index.rayons{% endtrans %}
                        </h3>
                    </div>
                    <div class="card-body row">
                        {% for categorie in categories %}
                            <div class="col-md-3">
                                <div class="card clickable" onclick=" location = '{{ path("app_boutique_rayon", {idCategorie:categorie.id}) }}'">
                                    <img src="/{{ categorie.visuel }}" class="card-img-top" alt="{{ categorie.libelle }}">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ categorie.libelle }}</h4>
                                        <p class="card-text">
                                            <i>{{ categorie.texte }}</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- fin du block body -->
            </div>
        </div>
    </div>
{% endblock %}